<div class="row">
  <div class="col-lg-7">
    <h5><%= user.name %></h5>
  </div>
  <div class="col-lg-3">
    <div id="relation-<%= user.id %>" class="right" style="margin-top: 10px;">
      <%= render 'partials/follow', user: user %>
    </div>
  </div>
</div>
<br>
<br>
