<div id="comment-<%= comment.id %>" class="microcomment">
  <div class="comment-content">
    <div class="comment-user-name col-lg-2">
      <%= comment.user.name + ": "%>
    </div>
    <div class="comment-text col-lg-10">
      <%= comment.content %>
    </div>
  </div>
</div>