<div id="comment-<%= comment.id %>" class="microcomment">
  <div class="content">
    <div class="comment-user-name">
      <%= comment.user.name %>
    </div>
    <div class="post-content">
      <div class="post">
        <%= comment.content %>
      </div>
    </div>
  </div>
</div>