<div class="row">
  <div class="col-lg-3">
    <%= render 'partials/user_card', view_type: 'home', user: current_user %>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <%= render 'partials/new_tweet', tweet_id: nil %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div id="feed" class="well feed">
          <%= render(@tweets) || "No Tweets" %>
        </div>
      </div>
    </div>
  </div>
</div>